# build directories
/build/
/docs/_build/
/dist/
/venv/
# compiled files
*.o
*.a
*.so
*.pyc

# egg / dist info files
.eggs/
.cache/
*.egg-info
*.dist-info

# vim swap files
.*.sw[op]

# Keystore files
*.jks

# Project files
node_modules/*
/.vscode/
.idea/
*.iml
.project
.pydevproject
.ropeproject
.settings
.uwsgi-reload

# Test output
.coverage

# Misc
.DS_Store
*#
*~
