
*#
*.a
*.dist-info
*.egg-info
*.iml
*.jks
*.o
*.pyc
*.so
*~
.*.sw[op]
.DS_Store
.cache/
.coverage
.eggs/
.idea/
.project
.pydevproject
.ropeproject
.settings
.uwsgi-reload
/.vscode/
/build/
/dist/
/docs/_build/
/venv/
node_modules/*
